<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width = device-width, initial-scale = 1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>HOmepae</h1>
    <a href="/user">User</a>
    <% blogs.forEach(blog => { %>
      <div style="width: 500px; min-height: 100px; border: 2px solid red">
        <a href="/blog/explore/<%= blog._id%>"><%= blog.title %></a>
        <p><%= blog.desc %></p>
        <span><%= blog.likes.length%> Likes</span>
        <span style="font-weight: bold;padding-left: 50px;"><%= blog.user.username%></span>
        
      </div>
  <% }) %>
  </body>
</html>
